h1
    margin: 0 0 1rem 0
    font-size: 2.5rem
    font-weight: normal
    line-height: 4rem
    text-align: center
    text-transform: capitalize

    @media (prefers-color-scheme: dark)
        svg
            fill: #ffffff
